@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff2") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__logo {
  width: 320px;
  text-align: center;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    margin: 0 auto;
    width: 640px; }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 400px; }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 648px; }
  .page-header__logo img {
    width: 370px;
    height: 153px; } }

.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624538; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }
